/* body {
    background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}  */

.carousel-item img {
    object-fit: cover;
    height: 90vh;
}

@media screen and (max-width: 700px) {
    .carousel-item {
        height: 60vh;
    }
}